body{
    background-color: rgb(66, 98, 66);
}

h1{
    color: rgb(193, 238, 204);
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
